---
import Contact from "../components/Contact.astro";
import AboutMe from "../components/AboutMe.astro";
import Projects from "../components/Projects.astro";
import Sidebar from "../components/Sidebar.astro";
import "@fontsource-variable/inter";
import "@fontsource-variable/caveat";
import "@fontsource-variable/fira-code";
import Landing from "../components/Landing.astro";
import PhoneMenu from "../components/PhoneMenu.astro";
---

<script>
  document.addEventListener("DOMContentLoaded", (event) => {
    const observer = new IntersectionObserver(
      (entries, observer) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.remove("is-hidden");
            entry.target.classList.add("animated");
            observer.unobserve(entry.target); // Para no animar de nuevo al hacer scroll
          }
        });
      },
      {
        root: null,
        threshold: 0.1, // El porcentaje del target que debe estar visible para activar la animación
      },
    );

    // Observa los elementos con la clase '.hidden'
    document.querySelectorAll(".is-hidden").forEach((element) => {
      observer.observe(element);
    });
  });
</script>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Portfolio Jorge</title>
  </head>
  <body class="selection:bg-teal-600 bg-slate-900 text-slate-100">
    <PhoneMenu />
    <Sidebar />
    <main class="flex flex-col md:ml-48">
      <Landing />
      <AboutMe />
      <Projects />
      <Contact />
    </main>
  </body>
</html>

<style is:global>
  :root {
    font: Helvetica;
    color-scheme: light dark;
  }
  body {
    font-family: "Inter Variable", sans-serif;
  }
  .font-caveat {
    font-family: "Caveat Variable", sans-serif;
  }
  .font-fira {
    font-family: "Fira Code Variable", sans-serif;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animated {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: both;
  }

  /* El estado inicial del elemento antes de ser animado */
  .is-hidden {
    opacity: 0;
    transform: translateY(20px);
  }
</style>
