---
import { Image } from "astro:assets";
import SectionTitle from "./SectionTitle.astro";
const paragraphs = ["", "", ""];
const technologies = [
  "Javascript (ES6+)",
  "PHP",
  "Vue",
  "Laravel",
  "Bootstrap",
  "Tailwind",
  "Astro",
  "Quasar",
];
---

<section id="About" class="min-h-[100vh] p-8 py-48 max-w-5xl mx-auto w-full">
  <SectionTitle title="Sobre Mí" number="01" />
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-x-12 gap-y-6 text-slate-400">
    <div>
      <p class="mb-4 is-hidden">
        Mi nombre es <span class="underline decoration-teal-400">
          Jorge Castilla</span
        >, soy desarrollador web y me motiva el desafío de convertir ideas en
        <span class="text-teal-400">productos digitales</span>. Me gusta seguir de cerca las nuevas tendencias en programación e inteligencia artifial.
      </p>
      <p class="mb-4 is-hidden">
        Me titulé de la carrera de Analista Programador en Inacap, aunque la
        mayoría de mi conocimiento lo he obtenido de internet y del trabajo con
        mis compañeros de equipo.
      </p>
      <p class="mb-5 is-hidden">
        Actualmente trabajo en el departamento de Transformación Digital en <a
          href="https://www.ecomac.cl"
          class="text-teal-400"
          target="_blank">Ecomac</a
        >
         donde desarrollamos aplicaciones web para la empresa y sus clientes.
      </p>
      <div class="is-hidden">
        <p class="mb-2">
          Aquí hay algunas tecnologías con las que he trabajado últimamente:
        </p>
        <ul class="list-disc marker:text-teal-400 grid grid-cols-2 list-inside">
          {technologies.map((technology) => <li class="mb-1">{technology}</li>)}
        </ul>
      </div>
    </div>
    <div
      class="image-container relative w-[300px] aspect-square mx-auto mb-8 is-hidden"
    >
      <Image
        src="/img/my-face.jpeg"
        alt="Foto de Jorge"
        width={300}
        height={300}
        class="face-image"
      />
    </div>
  </div>
</section>
<style>
  .face-image {
    border-radius: 2px;
    position: relative;
    filter: grayscale(100%);
    transition: all 0.2s ease-in-out;
    opacity: 0.5;
  }
  .face-image:hover {
    opacity: 1;
    filter: grayscale(0%);
  }
  .image-container {
    background-color: #2dd4bf;
    transition: all 0.2s ease-in-out;
    border-radius: 2px;
  }
  .image-container:hover {
    transform: translate(-4px, -4px);
  }
  .image-container:hover::before {
    transform: translate(8px, 8px);
  }
  .image-container::before {
    transition: transform 0.2s ease-in-out;
    content: "";
    position: absolute;
    border-radius: 2px;
    border: 4px solid #2dd4bf;
    width: 100%;
    height: 100%;
    top: 15px;
    left: 15px;
  }

  .image-container:hover ~ ::before {
    transform: translate(5px, 5px);
  }
</style>
