---
import Button from "../components/Button.astro";
import ScrolldownButton from "../components/ScrolldownButton.astro";
---

<section
  id="Inicio"
  class="relative min-h-[100vh] flex flex-col justify-center pb-24 md:pl-8 overflow-x-hidden"
>
  <div class="font-italianno text-2xl text-teal-600 second-load-animation">
    &lt; html &gt;
  </div>
  <div
    class="font-italianno text-2xl text-teal-600 ml-4 mb-4 second-load-animation"
  >
    &lt; body &gt;
  </div>
  <div
    class="font-italianno text-2xl text-teal-600 ml-6 mb-2 second-load-animation"
  >
    &lt; h1 &gt;
  </div>
  <div
    class="flex flex-col gap-4 text-teal-50 text-3xl sm:text-5xl lg:text-7xl text-container"
  >
    <h1 class="ml-10 from-left-animation font-bold">Hola,</h1>
    <h1 class="ml-10 from-left-animation whitespace-nowrap font-bold mb-4">
      soy <span class="special-letter text-5xl md:text-6xl lg:text-8xl">J</span
      >orge,
    </h1>
    <div class="ml-10">
      <div class="flex md:flex-row md:items-end flex-col">
        <h1 class="from-left-animation font-bold">desarrollador web</h1>
        <div
          class="font-italianno text-2xl text-teal-600 md:ml-4 text-nowrap mt-2 md:mt-0 second-load-animation"
        >
          &lt; /h1 &gt;
        </div>
      </div>
      <div class="flex flex-col">
        <div
          class="text-2xl text-teal-600 font-italianno mb-2 second-load-animation"
        >
          &lt; p &gt;
        </div>
        <h2
          class="text-slate-500 text-xl md:text-2xl -mt-2 from-left-animation font-fira font-bold"
        >
          Full Stack Developer
        </h2>
        <div
          class="text-2xl text-teal-600 font-italianno second-load-animation"
        >
          &lt; /p &gt;
        </div>
      </div>
      <div class="mt-4 second-load-animation">
        <a href="#Contacto">
          <Button text="¡Contáctame!" />
        </a>
      </div>
    </div>
  </div>
  <ScrolldownButton left={true} />
  <ScrolldownButton left={false} />
</section>
<style>
  .from-left-animation {
    animation: 0.75s linear 0s normal firstLoad;
  }
  .second-load-animation {
    animation: 1.5s linear 0s normal secondLoad;
  }
  .scroll-down-animation {
    animation: 3s linear 0s normal scrollDown;
  }

  @keyframes scrollDown {
    0% {
      opacity: 0;
      transform: translateY(-10px) rotate(90deg);
    }
    60% {
      opacity: 0;
      transform: translateY(-5px) rotate(90deg);
    }
    100% {
      opacity: 1;
      transform: translateY(0px) rotate(90deg);
    }
  }

  @keyframes firstLoad {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes secondLoad {
    0% {
      opacity: 0;
      transform: translateX(5px);
    }
    50% {
      opacity: 0;
      transform: translateX(5px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  .special-letter {
    color: #db2777;
    position: relative;
    z-index: 10;
  }
  .special-letter::after {
    content: "J";
    position: absolute;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    left: -15%;
    color: #2dd4bf;
  }
</style>
