---
import { Icon } from "astro-icon/components";
const sections = [
  { name: "Sobre mí", href: "#SobreMi" },
  { name: "Proyectos", href: "#Proyectos" },
  { name: "Contacto", href: "#Contacto" },
];
---

<script>
  // Función para determinar la sección más cercana al centro de la pantalla
  function getNearestSection(entries: any) {
    let nearest = { id: null};
    let nearestDistance = Infinity;

    entries.forEach((entry: any) => {
      // Calcula la distancia al centro
      const distance = Math.abs(entry.boundingClientRect.y);

      if (distance < nearestDistance) {
        nearest = entry.target;
        nearestDistance = distance;
      }
    });

    return nearest;
  }

  // Función para activar la sección correspondiente en la barra lateral
  function activateSidebarLink(sectionId: any) {
    document.querySelectorAll(".sidebar-link").forEach((link) => {
      link.classList.remove("text-teal-400");
      if (link.getAttribute("href") === `#${sectionId}`) {
        link.classList.add("text-teal-400");
      }
    });
  }

  // Opciones para el Intersection Observer
  const options = {
    root: null, // el viewport
    rootMargin: "0px",
    threshold: 0.5, // 50% de la sección debe estar visible
  };

  interface section {
    id: string | null;
  }
  // Crear el Intersection Observer
  const observer = new IntersectionObserver((entries, observer) => {
    // Encuentra la sección más cercana al centro de la pantalla
    const nearestSection: section = getNearestSection(entries);

    if (nearestSection.id) {
      activateSidebarLink(nearestSection.id);
    }
  }, options);

  // Observa cada sección
  document.querySelectorAll("section").forEach((section) => {
    observer.observe(section);
  });
</script>

<header
  class="bg-[#050c13] w-48 h-[100vh] fixed left-0 top-0 flex-col hidden md:flex"
>
  <div
    class="bg-black aspect-[4/5] flex flex-col items-center justify-center z-10"
  >
    <a class="special-letter text-8xl font-bold cursor-pointer" href="/">J</a>
    <div class="font-bold text-2xl mb-2">Jorge</div>
    <div class="text-sm text-slate-500 tracking-wider">Web Developer</div>
  </div>
  <nav class="flex flex-col items-center py-4 text-slate-500">
    {
      sections.map((section, index) => {
        return (
          <a href={section.href} class="sidebar-link">
            <span class="text-teal-500 font-fira text-sm">0{index + 1}.</span>{" "}
            {section.name}
          </a>
        );
      })
    }
    <div class="flex gap-2 mt-4">
      <a
        href="https://www.linkedin.com/in/jorge-ignacio-castilla-gallardo-1b0095199/"
        target="_blank"
      >
        <Icon
          class="w-8 h-8 text-slate-500 hover:text-teal-400"
          name="mdi:linkedin"
        />
      </a>
      <a href="https://github.com/jorge-castilla" target="_blank">
        <Icon
          class="w-8 h-8 text-slate-500 hover:text-teal-400"
          name="mdi:github"
        />
      </a>
      <a href="/cv-jorge-castilla.pdf" target="_blank">
        <Icon
          class="w-8 h-8 text-slate-500 hover:text-teal-400"
          name="mdi:file-document-outline"
        />
      </a>
    </div>
  </nav>
</header>

<style>
  .special-letter {
    color: #db2777;
    position: relative;
    transition: 0.2s ease-in-out;
  }
  .special-letter::before {
    content: "J";
    position: absolute;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    left: -15%;
    color: #2dd4bf;
    transition: 0.2s ease-in-out;
  }
  .special-letter:hover {
    color: #2dd4bf;
  }
  .special-letter:hover::before {
    color: #db2777;
  }

  nav > a {
    padding: 24px 15px;
    text-align:;
    font-size: 1rem;
    border-bottom: 1px solid #1e293b;
    width: 100%;
    text-decoration: none;
    font-weight: 600;
    transition: 0.2s ease-in-out;
  }
  nav > a:hover {
    color: #2dd4bf;
  }
  nav > a.active {
    color: #2dd4bf;
  }
  nav > a:first-child {
    border-top: 1px solid #1e293b;
  }
</style>
