---
import { Icon } from "astro-icon/components";
const sections = [
  { name: "Sobre mí", href: "#about" },
  { name: "Proyectos", href: "#projects" },
  { name: "Contacto", href: "#contact" },
];
---

<header
  class="bg-[#050c13] w-48 h-[100vh] fixed left-0 top-0 flex-col hidden md:flex"
>
  <div
    class="bg-black aspect-[4/5] flex flex-col items-center justify-center z-10"
  >
    <div class="special-letter text-8xl font-bold">J</div>
    <div class="font-bold text-2xl mb-2">Jorge</div>
    <div class="text-sm text-slate-500 tracking-wider">Web Developer</div>
  </div>
  <nav class="flex flex-col items-center py-4 text-slate-500">
    {
      sections.map((section, index) => {
        return (
          <a href={section.href}>
            <span class="text-teal-400 font-fira text-sm">0{index + 1}.</span>{" "}
            {section.name}
          </a>
        );
      })
    }
    <div class="flex gap-2 mt-4">
      <a href="">
        <Icon
          class="w-8 h-8 text-slate-500 hover:text-teal-400"
          name="mdi:linkedin"
        />
      </a>
      <a href="">
        <Icon
          class="w-8 h-8 text-slate-500 hover:text-teal-400"
          name="mdi:github"
        />
      </a>
      <a href="">
        <Icon
          class="w-8 h-8 text-slate-500 hover:text-teal-400"
          name="mdi:file-document-outline"
        />
      </a>
    </div>
  </nav>
</header>

<style>
  .special-letter {
    color: #db2777;
    position: relative;
    transition: 0.2s ease-in-out;
  }
  .special-letter::before {
    content: "J";
    position: absolute;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    left: -15%;
    color: #2dd4bf;
    transition: 0.2s ease-in-out;
  }
  .special-letter:hover {
    color: #2dd4bf;
  }
  .special-letter:hover::before {
    color: #db2777;
  }

  nav > a {
    padding: 24px 15px;
    text-align:;
    font-size: 1rem;
    border-bottom: 1px solid #1e293b;
    width: 100%;
    text-decoration: none;
    font-weight: 600;
    transition: 0.2s ease-in-out;
  }
  nav > a:hover {
    color: #2dd4bf;
  }
  nav > a.active {
    color: #2dd4bf;
  }
  nav > a:first-child {
    border-top: 1px solid #1e293b;
  }
</style>
